{
    "presets": [
        "@babel/preset-env"
    ],
    "plugins": [
        ["prismjs", {
            "languages": ["json"],
            "plugins": ["line-numbers", "match-braces"],
            "theme": "twilight",
            "css": true
        }]
    ]
}
